* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr 5% repeat(8, 1fr);
    grid-template-areas: 
    'msc . . ttl ttl ttl ttl ttl ttl ttl ttl ttl . . .'
    '. . . . . scr scr scr scr scr . . . . .'
    '. . . msg msg msg msg msg msg msg msg msg . . .'
    '. plc plc . . brd brd brd brd brd dlr dlr . . .'
    '. bet bet . . brd brd brd brd brd . . . . .'
    '. bet bet . . brd brd brd brd brd . . . . .'
    '. bet bet . . brd brd brd brd brd . . . . .'
    '. bet bet . . brd brd brd brd brd . . . . .'
    '. bet bet . . brd brd brd brd brd . . . . .'
    '. . . ftr ftr ftr ftr ftr ftr ftr ftr ftr . . .';
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
    align-content: center;
    margin: auto;
    background-color: #000;
}

.background-image {
    background-image: url('https://github.com/CharlesAta/Blackjack/blob/master/assets/imgs/patricia-kelen-takahashi-patriciakelen-com-10.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
    margin: 0;
}

#title {
    grid-area: ttl;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* vvv SCOREBOARD STYLING vvv */
#scoreboard {
    grid-area: scr;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(85, 19, 19, 0.7));
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    justify-self: center;
    height: 100%;
    font-size: 1.25em;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.score-num {
    font-size: 1.5em;
    font-weight: 900;
}

#reset-area {
    display: flex;
    align-items: center;
    width: 10%;
}

#reset-btn {
    width: 2em;
    height: 2em;
    background-image: url("https://github.com/CharlesAta/Blackjack/blob/master/assets/imgs/1200px-Refresh_icon.svg.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
}
/* ^^^ SCOREBOARD STYLING ^^^ */

/* vvv MUSIC STYLING vvv */

#music {
    margin-left: 5%;
    margin-top: 5%;
}

#bg-music-btn {
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
}

/* vvv MESSAGE AREA STYLING vvv */
#message-area {
    grid-area: msg;
}
/* ^^^ MESSAGE AREA STYLING ^^^ */

/* vvv PLACE BETS MESSAGE AREA vvv */
#place-bets-area {
    grid-area: plc;
}
/* ^^^ PLACE BETS MESSAGE AREA ^^^ */

/* vvv BETTING AREA STYLING vvv */
#betting-area {
    grid-area: bet;
    background-color: rgba(83, 83, 95, 0.781);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-self: left;
    text-align: center;
    box-shadow: 0 0 10px 20px rgba(83, 83, 95, 0.781);
    width: 50%;
    height: 96%;
    margin-left: 20px;
}

.wallet-ttl {
    font-size: 2em;
}

.betting-div {
    width: 90%;
}

.money {
    margin-top: 10%;
    background: rgba(83, 83, 95, 0.781);
    color: #fff;
    font-size: 2em;
    border-radius: 45px;
    box-shadow: 0 0 20px #000 inset;
    width: 100%;
}

.poker-chips {
    border-radius: 100%;
    margin: 2px 2px;
    border: dotted #fff;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 40%;
    height: 40%;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

.poker-chips:hover {
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.4);
}

.poker-chips:active {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4) inset;
}

#bet-btns {
    margin: 20% auto;
}

#bet-100 {
    background-color: black;
    padding: 10px 1px;
}

#bet-500 {
    background-color: rgb(235, 164, 176);
    padding: 10px 1px;
}

#bet-1000 {
    background-color: goldenrod;
    padding: 10px 1px;
}

#bet-reset {
    border-radius: 10px;
    padding: 2% 10%;
    font-family: 'Lexend', sans-serif;
    border: none;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.4);
}

#bet-reset:hover {
    box-shadow: 0px 0px 3px 2px rgba(179, 228, 243, 0.4);
}

#bet-reset:active {
    box-shadow: 0px 0px 3px 10px rgba(61, 180, 216, 0.507) inset;
}

#double-area {
    width: 100%;
    height: 10%;
}
/* ^^^ BETTING AREA STYLING ^^^ */

/* vvv MAIN AREA STYLING vvv */
main {
    grid-area: brd;
    border-radius: 30px;
}

#game-table {
    border-radius: 50%;
    height: 100%;
    background-image: url("https://github.com/CharlesAta/Blackjack/blob/master/assets/imgs/breaking-down-the-table.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 20% 1fr 38% 12.5%;
    box-shadow: 0px 10px 30px 10px #fff inset, 15px 15px 50px 10px #fff;
}

#dealer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    box-shadow: null;
    border-radius: 40px;
}

#player {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-size: 16px;
    position: relative;
    box-shadow: null;
    border-radius: 40px;
}

#d-hand {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#p-hand {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.holder-location {
    text-align: center;
    color: white;
    font-size: 1.8em;
    margin-top: 20px;
    height: 15%;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1), 0 0 3px 20px rgba(0, 0, 0, 0.1) inset;
}
/* ^^^ MAIN AREA STYLING ^^^ */

/* vvv FOOTER AREA STYLING & HAND TOTAL STYLING vvv */
footer {
    grid-area: ftr;
    display: grid;
    grid-template-columns: 15% 1fr 30% 1fr 15%;
}

#play {
    grid-column: 1 / 2;
    width: 100%;
    height: 75%;
    place-self: center;
}

#moves {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3 / 4;
    width: 100%;
    height: 75%;
}

#dealer-current-hand {
    grid-area: dlr;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    align-content: flex-end;
    justify-self: end;
}

#current-hand {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 5 / 6;
    align-self: end;
    height: 85%;
    padding-bottom: 5%;
}

.hand {
    font-size: 3em;
}

.hand-style {
    background-color: rgba(83, 83, 95, 0.781);
    box-shadow: 0 0 5px 10px rgba(83, 83, 95, 0.781);
    height: 100%;
    font-size: 1.5em;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* ^^^ FOOTER AREA STYLING & HAND TOTAL STYLING ^^^ */


/* vvv classes to be called in JavaScript */
.normal-winner-glow {
    box-shadow: 0 0 100px #fff inset, 0 0 20px #fff;
}

.blackjack-winner-glow {
    box-shadow: 0 0 100px #ffb700 inset, 0 0 20px #ffb700;
}

.lock-bet-window {
    color: grey;
}

.set-double-window {
    box-shadow: 0 0 20px #f77f00 inset;
}

.set-double-glow {
        box-shadow: 0 0 30px 10px rgba(255, 200, 20, 0.733);
}

.over-bet {
    color: red;
}

.music-on {
    background-image: url("https://github.com/CharlesAta/Blackjack/blob/master/assets/imgs/musicOn.png?raw=true");
    background-size: cover;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3) inset;
}

.music-off {
    background-image: url('https://github.com/CharlesAta/Blackjack/blob/master/assets/imgs/musicoff.png?raw=true');
    background-size: 50% 50%;
    background-position: center;
    box-shadow: 0 0 10px 1px #000 inset;
}